.App {
  text-align: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

a:hover {
  background-color: thistle;
}

.overlay {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}

.imgMore {
  width: 100%;
}

.card {
  min-height: 450px;
}

.cropImage {
  width: 50%;
  height: auto;
}

.articlesCont, .loginApp, .registerApp {
  min-height: 88vh;
}